body {
    color: White;
    background-color: Black;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

main {
    font-size: 3.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

a {
    color: rgb(29, 204, 75);
}

.header {
    background-color: Black;
    color: rgb(29, 204, 75);
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footer{
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
}

hr {
    border: 1px solid rgb(29, 204, 75);
}
